<video id="bgvid" playsinline autoplay loop src="../images/blurred_restaurant.mp4" alt=""></video>

<div id="title">
    <h1>{{title}}</h1>
</div>
<div id="subtitle">
    <p>Your Guide to Other Worldly Foods</p>
</div>
<a href="users/new">
<div id="signup">
    Sign Up
</div>
</a>