body {
  padding: 0px;
  margin: 0%;
  height: 88vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* border: 5px solid blueviolet; */
  text-align: center;
}
#title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  letter-spacing: 4px;
  font-weight: 100;
  position: absolute;
  top:35%;
  left: 26%;
  color: gold;
  padding: 0px;
  border-bottom: solid white 1px;
  text-shadow: 1rem;
}
#subtitle {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  letter-spacing: 4px;
  font-weight: 100;
  position: absolute;
  top:45%;
  left: 28%;
  color: gold;
  padding: 0px;
  text-shadow: .5em;
  /* border: solid pink */
}
a {
  color: #00B7FF;
}
video#bgvid { 
  position: fixed;
  top: 0;
	left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
#signup{
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  border:solid goldenrod;
  position: absolute;
  top:60%;
  left: 45%;
  padding: 5px;
}
input[type=text],input[type=username]{
  width: 200px;
  padding: 15px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
#newuser{
  color: gold;
  font-size: 1.5em;
  padding: 15px;
  left: 35%;
  position: absolute;
  width: 400px;
  height: auto;
  /* border: solid 2px; */
  align-content: center;
  background-color: rgba(0, 0, 0, .2)
}
#newuser button{
  width: 100%
}