body {
  padding: 0px;
  margin: 0%;
  height: 88vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 5px solid blueviolet;
  text-align: center;
}
#title {
  padding: 0px;
  border: solid black
}
a {
  color: #00B7FF;
}
